@use "../../styles/spiltter.scss" as *;
.screen {
  .titleLg {
    span {
      position: relative;
      transform: translateY(200px);
      opacity: 0;
      display: inline-block;
    }
  }
}
.contactForm {
  .formRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    @include sm {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  .input,
  .formBtn {
    height: 70px;
    background-color: transparent;
    border: 2px solid var(--dark);
    border-radius: 8px;
    margin-bottom: 3em;
    color: var(--dark);
    padding: 1em;
    width: 100%;
    outline: none;
    box-shadow: none;
    @include transition;
    @include sm {
      margin-bottom: 2em;
    }
    &:focus,
    &:focus-within {
      background-color: #f28241;
    }
  }
  .formBtn {
    width: calc(50% - 2em);
    cursor: pointer;
    &:hover {
      background-color: #f28241;
      //  color: var(--dark);
    }
    @include sm {
      width: 100%;
      margin-bottom: 5em;
    }
  }
  ::placeholder {
    opacity: 1;
    color: var(--dark);
  }
  textarea.input {
    height: 170px;
  }
}

.refer {
  ul {
    list-style: none;
    padding: 0;
    li {
      border-top: 2px solid var(--dark);
      text-transform: uppercase;
      word-break: anywhere;
      @include transition;
      &:last-child {
        border-bottom: 2px solid var(--dark);
      }
      @include sm {
        font-size: 1.1em;
      }
    }
    .container {
      display: flex;
      padding: 1.5em 0;
      @include sm {
        padding-left: 10px;
        padding-right: 10px;
      }
      span:first-child {
        width: 400px;
        @include sm {
          width: 140px;
          min-width: 140px;
        }
      }
    }
  }
}

.toast {
  background-color: var(--white--grey);
}
