@use "../styles/spiltter.scss" as *;

.banner {
  .imageWrapper {
    position: relative;
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    img {
      background-color: var(--dark);
    }

    .reveal {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      // background-blend-mode: hard-light;
      z-index: 1;
      mix-blend-mode: multiply;
      pointer-events: none;
    }
    & > div {
      display: block !important;
    }
    .textWrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12%;
    }
  }
  .titleMd {
    text-indent: 0px;
  }
}
