@use "../styles/spiltter.scss" as *;
.projectCard {
  &,
  .imageWrapper {
    border: 2px solid var(--dark);
  }
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-right: 0;
  justify-content: flex-end;
  @include sm {
    padding: 1em;
    padding-right: 0;
  }
  .imageWrapper {
    border-right: 0;
    position: relative;
    overflow: hidden;
    .reveal {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .title {
    margin-bottom: 3em;
    @include sm {
      margin-bottom: 2em;
    }
  }
}
