@use "../styles/spiltter.scss" as *;
.projectCard {
  &,
  .imageWrapper {
    border: 2px solid var(--dark);
    & > div {
      display: block !important;
    }
  }
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-right: 0;
  justify-content: flex-end;
  position: relative;

  @include sm {
    padding: 1em;
    padding-right: 0;
  }
  .imageWrapper {
    border-right: 0;
    position: relative;
    overflow: hidden;
    background-color: var(--black);
    height: 330px;
    background-color: var(--dark);
    background-image: conic-gradient(var(--white--grey), var(--grey));
    animation: timer 3s linear 0.3s infinite forwards;
    @include sm {
      height: auto;
    }

    .reveal {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: var(--black);
    }
    img {
      object-fit: cover;
    }
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title {
    margin-bottom: 3em;
    @include transition;
    @include sm {
      margin-bottom: 2em;
    }
  }
  .count {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--dark);
    text-align: center;
    line-height: 54px;
    color: var(--white);
    font-weight: bolder;
    font-size: 1.1rem;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  &:hover {
    .title {
      font-style: italic;
    }
  }
}
