@use "../../styles/spiltter.scss" as *;

.thin {
  font-weight: lighter;
  font-style: italic;
}

.screen {
  .lottieWrapper {
    margin-bottom: -12em;
    .monitor {
      svg {
        & > g > g > g:first-child > path:first-child {
          fill: transparent;
        }
        & > g > g > g:not(:first-child) > path {
          // fill: transparent;
          // stroke: var(--dark);
          // stroke-width: 2px;
          fill: var(--dark);
        }
      }
    }
    .eyeBall {
      svg > g > g:first-child > g > path,
      svg > g > g:nth-child(3) > g > path {
        stroke: var(--dark);
        fill: transparent;
        stroke-width: 4px;
      }
    }
  }
  .titleLg {
    .flex {
      @include flexer(center, center);
    }
    small {
      font-size: 36px;
      font-weight: 600;
      padding: 0 0.5em;
    }
    span {
      position: relative;
      transform: translateY(200px);
      opacity: 0;
      display: inline-block;
    }
  }
}

.enjoy {
  margin-top: -12em;
  .lottieWrapper {
    margin: 0 2.5em;
    & > div {
      overflow: visible;
    }
  }
  svg {
    overflow: visible;
  }
  svg > g {
    & > g:nth-child(7),
    & > g:nth-child(3),
    & > g:nth-child(2) {
      path {
        fill: transparent;
        stroke: var(--dark);
      }
    }
    & > g:nth-child(4) {
      path {
        fill: var(--white);
        stroke: var(--dark);
      }
    }
  }
  .title {
    font-weight: 600;
    .thin {
      font-weight: 400;
      font-style: italic;
    }
    small {
      font-size: 0.55em;
      transform: translateY(-10px);
      display: inline-block;
    }
    & > * {
      position: relative;
      transform: translateY(200px);
      opacity: 0;
      display: inline-block;
    }
  }

  aside {
    min-width: 25%;
  }
}

.project {
  position: relative;
  width: 100%;
  overflow: hidden;
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .link {
    position: fixed;
    top: 0px;
    left: 0%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    //
    transition: transform 0.2s cubic-bezier(0.85, 0.03, 0.27, 1.55),
      opacity 0.3s ease-in;
    opacity: 0;
    .title {
      animation: rotate 10s linear 0s infinite forwards;
    }
    &.active {
      opacity: 1;
      transition: transform 0.2s linear, opacity 0.3s ease-in;
    }
  }
  .title {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
  }
}

.program {
  @include scrollbar;
  .titleLg {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 0.6em;
    animation: ticker 30s linear 2s infinite forwards;
    animation-play-state: paused;
    span {
      position: relative;
      opacity: 0;
      transform: translateY(-200px);
      @include transition;
    }
  }
  &.active {
    .titleLg {
      animation-play-state: running;
    }
  }
}

.chat {
  a {
    div:last-child > div {
      transform: translateY(-50%);
      left: 46% !important;
      top: 15em !important;
    }
  }
}
