@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes strokeReveal {
  0% {
    stroke-width: 512px;
    stroke-dashoffset: 70px;
  }
  100% {
    stroke-width: 0px;
    stroke-dashoffset: 1000px;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--width));
  }
}

@keyframes timer {
  0% {
    background-image: conic-gradient(from 0deg, #f28241, var(--grey));
  }
  25% {
    background-image: conic-gradient(from 90deg, #f28241, var(--grey));
  }
  50% {
    background-image: conic-gradient(from 180deg, #f28241, var(--grey));
  }
  75% {
    background-image: conic-gradient(from 270deg, #f28241, var(--grey));
  }
  100% {
    background-image: conic-gradient(from 360deg, #f28241, var(--grey));
  }
}
