@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes strokeReveal {
  0% {
    stroke-width: 312px;
    stroke-dashoffset: 70px;
  }
  100% {
    stroke-width: 0px;
    stroke-dashoffset: 1000px;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--width));
  }
}

@keyframes timer {
  0% {
    background-image: conic-gradient(from 0deg, #f28241, transparent);
  }
  25% {
    background-image: conic-gradient(from 90deg, #f28241, transparent);
  }
  50% {
    background-image: conic-gradient(from 180deg, #f28241, transparent);
  }
  75% {
    background-image: conic-gradient(from 270deg, #f28241, transparent);
  }
  100% {
    background-image: conic-gradient(from 360deg, #f28241, transparent);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  50% {
    -webkit-transform: translate(-8px, 21px);
    transform: translate(-8px, 21px);
  }
  100% {
    -webkit-transform: translate(-15px, 21px);
    transform: translate(-15px, 21px);
  }
}
