@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes strokeReveal {
  0% {
    stroke-width: 512px;
    stroke-dashoffset: 70px;
  }
  100% {
    stroke-width: 0px;
    stroke-dashoffset: 1000px;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--width));
  }
}
