@use "./responsive" as *;
.container {
  // padding: 0 0.5rem;
  max-width: 1320px;
  margin: auto;
  @include sm {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
.commonPadding {
  padding-top: 5rem;
  @include sm {
    padding-top: 2em;
  }
}
.paddingBottom {
  padding-bottom: 5rem;
  @include sm {
    padding-bottom: 2em;
  }
}
.bgGrey {
  background-color: var(--white--grey);
}
.thin {
  font-weight: lighter;
  font-style: italic;
}

.titleSm {
  font-size: 1.8em;
  @include sm {
    font-size: 1.3em;
  }
}
.title {
  font-size: 2.8em;
  @include sm {
    font-size: 1.5em;
  }
}
.titleLg {
  font-size: 12.75vw;
  line-height: 1;
}
.titleMd {
  font-size: 3em;
  @include sm {
    font-size: 1.8em;
  }
}
.textCenter {
  text-align: center;
}
.textWhite {
  color: var(--white);
}

.commonFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mrAuto {
  margin-right: auto;
}
.mlAuto {
  margin-left: auto;
}
.bgDark {
  background-color: #211e1d;
}

.mobileOnly {
  display: none !important;
  @include sm {
    display: flex !important;
  }
}

.desktopOnly {
  @include sm {
    display: none !important;
  }
}

.textWrapper {
  max-width: 800px;
  margin: auto;
  .titleMd {
    text-indent: 120px;
  }
}
