.container {
  // padding: 0 0.5rem;
  max-width: 1320px;
  margin: auto;
}
.commonPadding {
  padding-top: 5rem;
}
.paddingBottom {
  padding-bottom: 5rem;
}
.bgGrey {
  background-color: var(--white--grey);
}

.titleSm {
  font-size: 1.8em;
}
.title {
  font-size: 2.8em;
}
.titleLg {
  font-size: 12.75vw;
  line-height: 1;
}
.titleMd {
  font-size: 3em;
}
.textCenter {
  text-align: center;
}
.textWhite {
  color: var(--white);
}
.commonFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mrAuto {
  margin-right: auto;
}
.mlAuto {
  margin-left: auto;
}
.bgDark {
  background-color: #211e1d;
}
