@use "../../styles/spiltter.scss" as *;

.screen {
  .titleLg {
    small {
      font-size: 36px;
      padding: 0 0.5em;
    }
    span {
      position: relative;
      transform: translateY(200px);
      opacity: 0;
      display: inline-block;
    }
  }
}

.photoGrid {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: auto;
    gap: 4em;
    @include sm {
      grid-template-columns: 1fr;
      gap: 0;
    }
    .titleSm {
      width: max-content;
      &.left {
        margin-left: auto;
        @include sm {
          position: relative;
          z-index: 2;
          margin-bottom: -1em;
        }
      }
    }

    img {
      // mix-blend-mode: luminosity;
      background-color: var(--dark);
      background-image: conic-gradient(var(--white--grey), var(--grey));
      animation: timer 3s linear 0.3s infinite forwards;
    }
  }
}

.photoCycle {
  .textWrapper {
    height: 600px;
    position: relative;

    img {
      object-position: bottom;
      mix-blend-mode: multiply;
      animation: floating 6s linear 0s infinite alternate;
    }
  }
}

.loader {
  mix-blend-mode: luminosity;
  background-color: var(--dark);
  background-image: conic-gradient(#fff, var(--grey));
  animation: timer 3s linear 0.3s infinite forwards;
  height: 600px;
  width: 800px;
}
